@import "~bootstrap/scss/bootstrap";

//MAIN
.comic-thumb {
    border-radius: 10px;
    transition: 0.25s all;

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }
}

.col-md-8 > h2 {
    font-weight: bolder;
}
